* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color:rgb(179, 179, 179);
}

body {
    background-color: hsl(218, 28%, 13%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 70px;
}

.logo {
    width: 100px;
    
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu {
    list-style: none;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.nav-item {
    text-decoration: none;
    color: rgb(179, 179, 179);
    padding: 0 .5rem;
}

.nav-item:hover {
    color:white;
    transition: all 0.3s ease;
}

.hero-section {
    text-align: center;
    margin: 50px 0;
}

.hero-img {
    width: 75%;
}

h1 {
    margin: 50px 20px 20px;
    font-size: 2rem;
}

.hero-section p {
    color:rgb(179, 179, 179);
    padding: 0 40px;
    margin-bottom: 50px;
}

.hero-cta {
    text-decoration: none;
    color:white;
    background: rgb(129,217,212);
    background: rgb(129,217,212);
    background: linear-gradient(90deg, rgba(129,217,212,1) 0%, rgba(51,158,204,1) 93%);
    padding: 15px 80px;
    border-radius: 30px;  
}

.features-section {
    text-align: center;
}

.grid-item {
    padding: 50px;
}

.grid-item img {
    width: 15%;
    margin: 15px;
}

.grid-item h2 {
    margin-bottom: 15px;
}

.grid-item p {
    color:rgb(179, 179, 179);
    padding: 0 40px;
}

.info-section {
    text-align: center;
}
.left-col img {
    width: 75%;
    margin:80px 50px 40px;
}

.right-col {
    text-align: left;
    padding: 20px;
}

.right-col h2 {
    margin: 20px 0;
}
.right-col p {
    margin: 20px 0;
    padding-right: 30px;
}

.right-col a {
    text-decoration: none;
    color: rgba(129,217,212,1);
    font-size: 0.8rem;
    border-bottom: 1px solid rgba(129,217,212,1);
    padding-bottom: 7px;
}

.references {
    height: 130vh;
}
.references-list {
    list-style: none;
    line-height: 1.5rem;
    font-size: .9rem;
    position:relative;
}



.reference-item {
    background-color: hsl(219, 30%, 18%);
    width: 80%;
    margin: 25px auto;
    padding: 20px 40px 20px 20px;
    border-radius: 10px;
    
}

.reference-item img {
    border-radius: 50%;
    width: 40px;
    margin-top: 15px;
    display: inline-block;
}

cite {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;

}

.reference-item p {
    display: inline-block;
    margin-left: 10px;
}

footer {
    background-color: hsl(216, 53%, 9%);
    height: 300px;
    position: relative;
}


.sign-box {
    background-color:hsl(217, 28%, 15%) ;
    width: 80%;
    left: 45px;
    position: absolute;
    height: 300px;
    top: -150px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

.sign-box h2 {
    margin-bottom: 20px;
}

input {
    margin: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
}

.form-submit {
    display: block;
    margin: 0 auto;
    padding: 10px 53px;
    cursor: pointer;
    background: rgb(129,217,212);
    background: linear-gradient(90deg, rgba(129,217,212,1) 0%, rgba(51,158,204,1) 93%);
    color: white;
}
::placeholder {
    font-size: .7rem;
}

.footer-logo {
    position: absolute;
    bottom: 10px;
    left: 30px;
}

@media (min-width: 1440px) {
    .hero-img {
        width: 50%;
    }
}